.contenedor{
  background: #2A19CF;
  height: 100%;
  margin: 0%;
  padding-bottom: 80px;
}
img{
  border-radius: 0%;
  height: 100px;
}
.card{
  background-color: transparent;
}
.fila{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0%;
}
h1{
  margin-bottom: 35px;
  color:#ddd
}

h3{
  font-size: 1.5rem;
  color: #ddd
}
.columna{
  margin-bottom: 20px;
}
