.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.cont-des{
  background-image: url('../../images/Path\ 8.png');
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
}

.img, h1, p{
  display: flex;
  justify-content: center;
}
img{
  border-radius: 100%;
}
.tex-des{
  text-align: center;
  color: #0F0F0F;
}
.tittle-des{
  color: #0F0F0F;
}

@media (max-width: 576px) { 
  h1{
    font-size: 1.7rem;
  }
 }

@media (min-width: 768px) {  
  h1 {
    font-size:2.5rem;
  }
  p{
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  h1{
    font-size: 3rem;
  }
  p{
    font-size: 2rem;
  }
}