.Logo {
  height: 60px;
  width: 60px;
}
.navbar-custom {
  background-color: #F8F8F8;
  border-color: #E7E7E7;
}
.navbar-text{
  color: white;
}
.navbar-dark{
  background-color: black;
}
.bg-dark{
  background-color: black !important;
}
.navbar-nav{
  align-items: center;
}