.Logo {
  height: 50px;
  width: 50px;
}
.navbar-custom {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-text {
  color: white;
}
.navbar-dark {
  background-color: black;
}
.bg-dark {
  background-color: black !important;
}
.navbar-nav {
  align-items: center;
  margin: auto;
}

.Nav.Link {
  scroll-behavior: smooth;
}
